SERVICE_NAME=node-test
APP_ENV=test
PORT=3000
JAVA_SERVICE_URL=http://java-test:8080
AGENT_SERVICE_URL=http://agent-test:8000
REQUEST_TIMEOUT_MS=5000
HEARTBEAT_INTERVAL_MS=1000
CHAIN_INTERVAL_MS=60000
OTEL_SERVICE_NAME=node-test
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector-opentelemetry-collector.observability.svc.cluster.local:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
